<!-- Creates a layout with a left-positioned sidenav and explicit content. -->
<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push" position="end">
      <mat-list>
        <mat-list-item *ngFor="let contentTypeSystemAttribute of allContentTypeSystemAttributes" (click)="navigate($event, contentTypeSystemAttribute)">
          {{contentTypeSystemAttribute.name}}
        </mat-list-item>

      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar [color]="color">  
          <mat-toolbar-row>
            <span>
              Harmony Works Facilitation
            </span>
            <span class="fill-remaining-space"></span>
            <button mat-icon-button (click)="toggleSidebar($event)">
              <mat-icon aria-hidden="false" aria-label="Open Navigation">menu_open</mat-icon>
            </button>
          </mat-toolbar-row>
      </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
